Crea notebook de Jupyter y con la librería de SQLite realiza las siguientes consultas a la base de datos "Chinook_Sqlite" (archivo proporcionado junto con los apuntes de SQL).

In [669]:
import sqlite3
conn = sqlite3.connect('Chinook_Sqlite.sqlite')

In [670]:
cursor = conn.cursor()

# Actividad 1 (Atencion al cliente)

Trabaja con table Customer

In [671]:
# 1)mustra la columna 'Email'
res = cursor.execute('SELECT Email FROM Customer')
res.fetchone()

('luisg@embraer.com.br',)

In [672]:
# 2)muestra la columna FirstName
res = cursor.execute('SELECT FirstName FROM Customer')
res.fetchone()

('Luís',)

In [673]:
# 3)muestra la columna FirstName y LastName
res = cursor.execute('SELECT FirstName , LastName FROM Customer')
res.fetchone()

('Luís', 'Gonçalves')

In [674]:
# 4) muestra la columna Address, Phone, Fax
res = cursor.execute('SELECT FirstName, Address, Phone, Fax FROM Customer')
res.fetchone()

('Luís',
 'Av. Brigadeiro Faria Lima, 2170',
 '+55 (12) 3923-5555',
 '+55 (12) 3923-5566')

In [675]:
# 5) muestra todas las columnas
res = cursor.execute('SELECT * FROM Customer')
res.fetchone()

(1,
 'Luís',
 'Gonçalves',
 'Embraer - Empresa Brasileira de Aeronáutica S.A.',
 'Av. Brigadeiro Faria Lima, 2170',
 'São José dos Campos',
 'SP',
 'Brazil',
 '12227-000',
 '+55 (12) 3923-5555',
 '+55 (12) 3923-5566',
 'luisg@embraer.com.br',
 3)

# Actividad 2(Ordenando a mi manera)

In [676]:
# 1) ordena la tabla 'Genre' por orden alfabetico 
res1 = cursor.execute('SELECT * FROM Genre ORDER BY Name')
for i, j in enumerate(res):
    print(i, j)

0 (23, 'Alternative')
1 (4, 'Alternative & Punk')
2 (6, 'Blues')
3 (11, 'Bossa Nova')
4 (24, 'Classical')
5 (22, 'Comedy')
6 (21, 'Drama')
7 (12, 'Easy Listening')
8 (15, 'Electronica/Dance')
9 (13, 'Heavy Metal')
10 (17, 'Hip Hop/Rap')
11 (2, 'Jazz')
12 (7, 'Latin')
13 (3, 'Metal')
14 (25, 'Opera')
15 (9, 'Pop')
16 (14, 'R&B/Soul')
17 (8, 'Reggae')
18 (1, 'Rock')
19 (5, 'Rock And Roll')
20 (20, 'Sci Fi & Fantasy')
21 (18, 'Science Fiction')
22 (10, 'Soundtrack')
23 (19, 'TV Shows')
24 (16, 'World')

In [677]:
# 2) corta los resultados para que solo se muestren los 6 primeros 
res = cursor.execute('SELECT * FROM Genre ORDER BY Name LIMIT 6')
for i, j in enumerate(res):
    print(i, j)

0 (23, 'Alternative')
1 (4, 'Alternative & Punk')
2 (6, 'Blues')
3 (11, 'Bossa Nova')
4 (24, 'Classical')
5 (22, 'Comedy')

In [678]:
# 3) muestra las ultimas 2 filas de la tabla
res = cursor.execute('SELECT * FROM (SELECT * FROM Genre ORDER BY Name) ORDER BY Name DESC LIMIT 2')
for i, j in enumerate(res):
    print(i, j)

0 (16, 'World')
1 (19, 'TV Shows')

# Actividad 3 (En busca del peor cliente)

Usamos la tabla Customer

In [679]:
# 1) muestra los usuarios que han reportado mas de 3 incidencias (columna donde de cuenta es 'SupportRepid')

res = cursor.execute('SELECT CustomerId, FirstName, LastName, Country FROM Customer WHERE SupportRepid > 3')
res.fetchone()

(4, 'Bjørn', 'Hansen', 'Norway')

In [680]:
# 2) filtra los resultados anteriores por los que viven en 'Brasil'
res = cursor.execute('SELECT CustomerId, FirstName, LastName, Country FROM Customer WHERE (SupportRepid > 3 and Country = "Brazil")')
res.fetchall()

[(10, 'Eduardo', 'Martins', 'Brazil'),
 (13, 'Fernanda', 'Ramos', 'Brazil'),
 (11, 'Alexandre', 'Rocha', 'Brazil')]

In [681]:
# 3) muestra los usuarios que tengan un codico postal empezando con 7
res = cursor.execute('SELECT FirstName, LastName, Country, PostalCode From Customer WHERE PostalCode LIKE "7%"')
res.fetchall()

[('Leonie', 'Köhler', 'Germany', '70174'),
 ('Fernanda', 'Ramos', 'Brazil', '71020-677'),
 ('Richard', 'Cunningham', 'USA', '76110'),
 ('Camille', 'Bernard', 'France', '75009'),
 ('Dominique', 'Lefebvre', 'France', '75002')]

In [682]:
# 4) muestra los usuarios que tengan un email de 'hotmail'
cursor.execute('SELECT FirstName, LastName, Email FROM Customer WHERE Email LIKE "%hotmail%"')
res = cursor.fetchall()

In [683]:
res

[('Kathy', 'Chase', 'kachase@hotmail.com'),
 ('Richard', 'Cunningham', 'ricunningham@hotmail.com'),
 ('Marc', 'Dubois', 'marc.dubois@hotmail.com'),
 ('Emma', 'Jones', 'emma_jones@hotmail.com')]

In [684]:
# 5) muestra los usuarios nacidos en USA o Canada
cursor.execute('SELECT FirstName, LastName, Country, Email FROM Customer WHERE Country = "USA" OR Country = "Canada"')
res = cursor.fetchall()
res

[('François', 'Tremblay', 'Canada', 'ftremblay@gmail.com'),
 ('Mark', 'Philips', 'Canada', 'mphilips12@shaw.ca'),
 ('Jennifer', 'Peterson', 'Canada', 'jenniferp@rogers.ca'),
 ('Frank', 'Harris', 'USA', 'fharris@google.com'),
 ('Jack', 'Smith', 'USA', 'jacksmith@microsoft.com'),
 ('Michelle', 'Brooks', 'USA', 'michelleb@aol.com'),
 ('Tim', 'Goyer', 'USA', 'tgoyer@apple.com'),
 ('Dan', 'Miller', 'USA', 'dmiller@comcast.com'),
 ('Kathy', 'Chase', 'USA', 'kachase@hotmail.com'),
 ('Heather', 'Leacock', 'USA', 'hleacock@gmail.com'),
 ('John', 'Gordon', 'USA', 'johngordon22@yahoo.com'),
 ('Frank', 'Ralston', 'USA', 'fralston@gmail.com'),
 ('Victor', 'Stevens', 'USA', 'vstevens@yahoo.com'),
 ('Richard', 'Cunningham', 'USA', 'ricunningham@hotmail.com'),
 ('Patrick', 'Gray', 'USA', 'patrick.gray@aol.com'),
 ('Julia', 'Barnett', 'USA', 'jubarnett@gmail.com'),
 ('Robert', 'Brown', 'Canada', 'robbrown@shaw.ca'),
 ('Edward', 'Francis', 'Canada', 'edfrancis@yachoo.ca'),
 ('Martha', 'Silk', 'Canada', 'marthasilk@gmail.com'),
 ('Aaron', 'Mitchell', 'Canada', 'aaronmitchell@yahoo.ca'),
 ('Ellie', 'Sullivan', 'Canada', 'ellie.sullivan@shaw.ca')]

In [685]:
# 6) de los resultados anteriores, muestra los que tengan un email de 'gmail'
cursor.execute('SELECT FirstName, LastName, Country, Email FROM Customer WHERE Email LIKE "%@gmail%" AND (Country = "USA" OR Country = "Canada")')
res = cursor.fetchall()
res

[('François', 'Tremblay', 'Canada', 'ftremblay@gmail.com'),
 ('Heather', 'Leacock', 'USA', 'hleacock@gmail.com'),
 ('Frank', 'Ralston', 'USA', 'fralston@gmail.com'),
 ('Julia', 'Barnett', 'USA', 'jubarnett@gmail.com'),
 ('Martha', 'Silk', 'Canada', 'marthasilk@gmail.com')]

In [686]:
# 6) muestra los usuarios que trabaja en Apple (columna Company)
# Aviso: np sabes el formato de la compania, podria ser: Apple SL, Company Apple, APPLE...
cursor.execute('SELECT  FirstName, LastName, Company FROM Customer WHERE Company LIKE "%APPLE%"')
res = cursor.fetchall()
res

[('Tim', 'Goyer', 'Apple Inc.')]

In [687]:
# 7) muestra los usuarios que han reportado entre 3 y 4 incidencias
cursor.execute('SELECT FirstName, LastName, SupportRepid FROM Customer WHERE SupportRepid BETWEEN 3 AND 4')
res = cursor.fetchall()
res

[('Luís', 'Gonçalves', 3),
 ('François', 'Tremblay', 3),
 ('Roberto', 'Almeida', 3),
 ('Jennifer', 'Peterson', 3),
 ('Michelle', 'Brooks', 3),
 ('Tim', 'Goyer', 3),
 ('Frank', 'Ralston', 3),
 ('Robert', 'Brown', 3),
 ('Edward', 'Francis', 3),
 ('Ellie', 'Sullivan', 3),
 ('Fynn', 'Zimmermann', 3),
 ('Niklas', 'Schröder', 3),
 ('Wyatt', 'Girard', 3),
 ('Isabelle', 'Mercier', 3),
 ('Terhi', 'Hämäläinen', 3),
 ('Ladislav', 'Kovács', 3),
 ('Hugh', "O'Reilly", 3),
 ('Emma', 'Jones', 3),
 ('Phil', 'Hughes', 3),
 ('Manoj', 'Pareek', 3),
 ('Puja', 'Srivastava', 3),
 ('Bjørn', 'Hansen', 4),
 ('František', 'Wichterlová', 4),
 ('Daan', 'Peeters', 4),
 ('Kara', 'Nielsen', 4),
 ('Eduardo', 'Martins', 4),
 ('Fernanda', 'Ramos', 4),
 ('Frank', 'Harris', 4),
 ('Dan', 'Miller', 4),
 ('Heather', 'Leacock', 4),
 ('John', 'Gordon', 4),
 ('Richard', 'Cunningham', 4),
 ('Patrick', 'Gray', 4),
 ('Aaron', 'Mitchell', 4),
 ('João', 'Fernandes', 4),
 ('Madalena', 'Sampaio', 4),
 ('Camille', 'Bernard', 4),
 ('Dominique', 'Lefebvre', 4),
 ('Stanisław', 'Wójcik', 4),
 ('Mark', 'Taylor', 4),
 ('Diego', 'Gutiérrez', 4)]

# Actividad 3 (Limpieza de personal)

Usaremos la tabla 'Employee'

In [688]:
# 1) Cuenta la cantidad de empleados que hay por ciudad
cursor.execute('SELECT City, count(EmployeeId) FROM Employee GROUP BY City')
cursor.fetchall()

[('Calgary', 5), ('Edmonton', 1), ('Lethbridge', 2)]

In [689]:
# 2) cuenta la cantidad de empleados que hay por departamento
cursor.execute('SELECT  Title, count(EmployeeId) FROM Employee GROUP BY Title')
cursor.fetchall()

[('General Manager', 1),
 ('IT Manager', 1),
 ('IT Staff', 2),
 ('Sales Manager', 1),
 ('Sales Support Agent', 3)]

In [690]:
# 3) muestra la edad de cada empleado
cursor.execute("SELECT FirstName, LastName, (strftime('%Y', 'now') - strftime('%Y', BirthDate)) - (strftime('%m-%d', 'now') < strftime('%m-%d', BirthDate)) AS Age FROM Employee")
cursor.fetchall()

[('Andrew', 'Adams', 61),
 ('Nancy', 'Edwards', 64),
 ('Jane', 'Peacock', 50),
 ('Margaret', 'Park', 76),
 ('Steve', 'Johnson', 58),
 ('Michael', 'Mitchell', 50),
 ('Robert', 'King', 53),
 ('Laura', 'Callahan', 55)]

In [691]:
# 4) calcula la media de edad por departamento (Title)

cursor.execute("SELECT Title, AVG((strftime('%Y', 'now') - strftime('%Y', BirthDate)) - (strftime('%m-%d', 'now') < strftime('%m-%d', BirthDate))) FROM Employee GROUP BY Title")
cursor.fetchall()

[('General Manager', 61.0),
 ('IT Manager', 50.0),
 ('IT Staff', 54.0),
 ('Sales Manager', 64.0),
 ('Sales Support Agent', 61.333333333333336)]

In [692]:
# 5) cuenta los empleados que fueron contratados, de media, por año
cursor.execute("SELECT strftime('%Y', HireDate), count(HireDate) FROM Employee GROUP BY strftime('%Y', HireDate)")
cursor.fetchall()

[('2002', 3), ('2003', 3), ('2004', 2)]

In [693]:
cursor.execute("SELECT AVG(numero) FROM (SELECT strftime('%Y', HireDate) AS anno, count(*) AS numero FROM Employee GROUP BY anno)")
cursor.fetchall()

[(2.6666666666666665,)]

# Actividad 4(Experto en canciones)
Volvemos a usar la tabla 'Track'

In [694]:
# 1) Muestra todos los canciones con el MediaType Protected AAC audiofile.
cursor.execute("SELECT Name FROM Track WHERE MediaTypeId = (SELECT MediaTypeId FROM MediaType WHERE Name = 'Protected AAC audio file')")
cursor.fetchmany(20)

[('Balls to the Wall',),
 ('Fast As a Shark',),
 ('Restless and Wild',),
 ('Princess of the Dawn',),
 ('Welcome to the Jungle',),
 ("It's So Easy",),
 ('Nightrain',),
 ('Out Ta Get Me',),
 ('Mr. Brownstone',),
 ('Paradise City',),
 ('My Michelle',),
 ('Think About You',),
 ("Sweet Child O' Mine",),
 ("You're Crazy",),
 ('Anything Goes',),
 ('Rocket Queen',),
 ('Right Next Door to Hell',),
 ("Dust N' Bones",),
 ('Live and Let Die',),
 ("Don't Cry (Original)",)]

In [695]:
# 2)muestra todas las canciones que contengan algun MediaType con 'AAC'.
cursor.execute("SELECT Name FROM Track WHERE MediaTypeId = (SELECT MediaTypeId FROM MediaType WHERE Name LIKE '%AAC%')");
cursor.fetchmany(20)

[('Balls to the Wall',),
 ('Fast As a Shark',),
 ('Restless and Wild',),
 ('Princess of the Dawn',),
 ('Welcome to the Jungle',),
 ("It's So Easy",),
 ('Nightrain',),
 ('Out Ta Get Me',),
 ('Mr. Brownstone',),
 ('Paradise City',),
 ('My Michelle',),
 ('Think About You',),
 ("Sweet Child O' Mine",),
 ("You're Crazy",),
 ('Anything Goes',),
 ('Rocket Queen',),
 ('Right Next Door to Hell',),
 ("Dust N' Bones",),
 ('Live and Let Die',),
 ("Don't Cry (Original)",)]

In [696]:
# 3) muestra todas las canciones que duren mas de 2 minutos

cursor.execute('SELECT Name FROM Track WHERE Milliseconds > 120000')
cursor.fetchmany(20)

[('For Those About To Rock (We Salute You)',),
 ('Balls to the Wall',),
 ('Fast As a Shark',),
 ('Restless and Wild',),
 ('Princess of the Dawn',),
 ('Put The Finger On You',),
 ("Let's Get It Up",),
 ('Inject The Venom',),
 ('Snowballed',),
 ('Evil Walks',),
 ('C.O.D.',),
 ('Breaking The Rules',),
 ('Night Of The Long Knives',),
 ('Spellbound',),
 ('Go Down',),
 ('Dog Eat Dog',),
 ('Let There Be Rock',),
 ('Bad Boy Boogie',),
 ('Problem Child',),
 ('Overdose',)]

In [697]:
# 4) muestra todas las canciones de Jazz
cursor.execute('SELECT Name FROM Track WHERE GenreId = (SELECT GenreId FROM Genre WHERE Name = "Jazz")')
cursor.fetchall()

[('Desafinado',),
 ('Garota De Ipanema',),
 ('Samba De Uma Nota Só (One Note Samba)',),
 ('Por Causa De Você',),
 ('Ligia',),
 ('Fotografia',),
 ('Dindi (Dindi)',),
 ('Se Todos Fossem Iguais A Você (Instrumental)',),
 ('Falando De Amor',),
 ('Angela',),
 ('Corcovado (Quiet Nights Of Quiet Stars)',),
 ('Outra Vez',),
 ('O Boto (Bôto)',),
 ('Canta, Canta Mais',),
 ('Quadrant',),
 ("Snoopy's search-Red baron",),
 ('Spanish moss-"A sound portrait"-Spanish moss',),
 ('Moon germs',),
 ('Stratus',),
 ('The pleasant pheasant',),
 ('Solo-Panhandler',),
 ('Do what cha wanna',),
 ('Heart of the Night',),
 ('De La Luz',),
 ('Westwood Moon',),
 ('Midnight',),
 ('Playtime',),
 ('Surrender',),
 ("Valentino's",),
 ('Believe',),
 ('As We Sleep',),
 ('When Evening Falls',),
 ('J Squared',),
 ('Best Thing',),
 ("Now's The Time",),
 ('Jeru',),
 ('Compulsion',),
 ('Tempus Fugit',),
 ("Walkin'",),
 ("'Round Midnight",),
 ('Bye Bye Blackbird',),
 ('New Rhumba',),
 ('Generique',),
 ('Summertime',),
 ('So What',),
 ('The Pan Piper',),
 ('Someday My Prince Will Come',),
 ('My Funny Valentine (Live)',),
 ('E.S.P.',),
 ('Nefertiti',),
 ('Petits Machins (Little Stuff)',),
 ('Miles Runs The Voodoo Down',),
 ('Little Church (Live)',),
 ('Black Satin',),
 ('Jean Pierre (Live)',),
 ('Time After Time',),
 ('Portia',),
 ('Jeepers Creepers',),
 ('Blue Rythm Fantasy',),
 ('Drum Boogie',),
 ('Let Me Off Uptown',),
 ('Leave Us Leap',),
 ('Opus No.1',),
 ('Boogie Blues',),
 ('How High The Moon',),
 ('Disc Jockey Jump',),
 ("Up An' Atom",),
 ('Bop Boogie',),
 ('Lemon Drop',),
 ('Coronation Drop',),
 ('Overtime',),
 ('Imagination',),
 ("Don't Take Your Love From Me",),
 ('Midget',),
 ("I'm Coming Virginia",),
 ("Payin' Them Dues Blues",),
 ('Jungle Drums',),
 ('Showcase',),
 ('Swedish Schnapps',),
 ('Roll Call',),
 ('Otay',),
 ('Groovus Interruptus',),
 ('Paris On Mine',),
 ('In Time',),
 ('Plan B',),
 ('Outbreak',),
 ('Baltimore, DC',),
 ('Talkin Loud and Saying Nothin',),
 ('Doce De Carnaval (Candy All)',),
 ('Lamento De Carnaval',),
 ('Pretinha',),
 ('Colibri',),
 ('Love Is The Colour',),
 ('Magnetic Ocean',),
 ('Deep Waters',),
 ("L'Arc En Ciel De Miles",),
 ('Gypsy',),
 ('Journey Into Sunlight',),
 ('Sunchild',),
 ('Millenium',),
 ("Thinking 'Bout Tomorrow",),
 ("Jacob's Ladder",),
 ('She Wears Black',),
 ('Dark Side Of The Cog',),
 ('Springsville',),
 ('The Maids Of Cadiz',),
 ('The Duke',),
 ('My Ship',),
 ('Miles Ahead',),
 ('Blues For Pablo',),
 ('New Rhumba',),
 ('The Meaning Of The Blues',),
 ('Lament',),
 ("I Don't Wanna Be Kissed (By Anyone But You)",),
 ('Springsville (Alternate Take)',),
 ('Blues For Pablo (Alternate Take)',),
 ('The Meaning Of The Blues/Lament (Alternate Take)',),
 ("I Don't Wanna Be Kissed (By Anyone But You) (Alternate Take)",),
 ('Morning Dance',),
 ('Jubilee',),
 ('Rasul',),
 ('Song For Lorraine',),
 ('Starburst',),
 ('Heliopolis',),
 ("It Doesn't Matter",),
 ('Little Linda',),
 ('End Of Romanticism',),
 ('Amanda',),
 ('Despertar',),
 ("OAM's Blues",)]

In [698]:
# 5) averigua cual es la cancion mas pesada
cursor.execute('SELECT TrackId, Name, MAX(Milliseconds) FROM Track')
cursor.fetchone()

(2820, 'Occupation / Precipice', 5286953)

In [699]:
# 6) CUANTOS DISCOS TIENE Led Zeppelin ?
cursor.execute("SELECT count(AlbumId) FROM (SELECT AlbumId FROM Track GROUP BY AlbumId HAVING albumId IN (SELECT AlbumId From Album WHERE ArtistId IN (SELECT ArtistId FROM Artist WHERE Name = 'Led Zeppelin')))")

cursor.fetchall()

[(14,)]

In [700]:
# 7) DE ENTRE SUS DISCOS, ¿CUANTO CUESTA EL DISCO "House Of The Holy"?
cursor.execute("SELECT sum(UnitPrice) as precio FROM Track WHERE AlbumId = (SELECT AlbumId FROM Album WHERE Title = 'Houses Of The Holy')")
cursor.fetchone()

(7.920000000000001,)

# Actividad 5
De la tabla 'Customer' crea una vista 'Customer_with_companies', donde estaran incluidos todos los resultdos salvo cuando Companies' sea 'NULL'.

In [701]:
cursor.execute('CREATE TEMP VIEW Customer_with_companies AS SELECT * FROM Customer WHERE Company IS NOT NULL')

A partir de la vista realiza los siguentes acciones:

In [702]:
# 1) Ordena los resultados por orden alfabetico de 'Company'
cursor.execute("SELECT * FROM Customer_with_companies ORDER BY Company ASC")
cursor.fetchall()

[(19,
  'Tim',
  'Goyer',
  'Apple Inc.',
  '1 Infinite Loop',
  'Cupertino',
  'CA',
  'USA',
  '95014',
  '+1 (408) 996-1010',
  '+1 (408) 996-1011',
  'tgoyer@apple.com',
  3),
 (11,
  'Alexandre',
  'Rocha',
  'Banco do Brasil S.A.',
  'Av. Paulista, 2022',
  'São Paulo',
  'SP',
  'Brazil',
  '01310-200',
  '+55 (11) 3055-3278',
  '+55 (11) 3055-8131',
  'alero@uol.com.br',
  5),
 (1,
  'Luís',
  'Gonçalves',
  'Embraer - Empresa Brasileira de Aeronáutica S.A.',
  'Av. Brigadeiro Faria Lima, 2170',
  'São José dos Campos',
  'SP',
  'Brazil',
  '12227-000',
  '+55 (12) 3923-5555',
  '+55 (12) 3923-5566',
  'luisg@embraer.com.br',
  3),
 (16,
  'Frank',
  'Harris',
  'Google Inc.',
  '1600 Amphitheatre Parkway',
  'Mountain View',
  'CA',
  'USA',
  '94043-1351',
  '+1 (650) 253-0000',
  '+1 (650) 253-0000',
  'fharris@google.com',
  4),
 (5,
  'František',
  'Wichterlová',
  'JetBrains s.r.o.',
  'Klanova 9/506',
  'Prague',
  None,
  'Czech Republic',
  '14700',
  '+420 2 4172 5555',
  '+420 2 4172 5555',
  'frantisekw@jetbrains.com',
  4),
 (17,
  'Jack',
  'Smith',
  'Microsoft Corporation',
  '1 Microsoft Way',
  'Redmond',
  'WA',
  'USA',
  '98052-8300',
  '+1 (425) 882-8080',
  '+1 (425) 882-8081',
  'jacksmith@microsoft.com',
  5),
 (12,
  'Roberto',
  'Almeida',
  'Riotur',
  'Praça Pio X, 119',
  'Rio de Janeiro',
  'RJ',
  'Brazil',
  '20040-020',
  '+55 (21) 2271-7000',
  '+55 (21) 2271-7070',
  'roberto.almeida@riotur.gov.br',
  3),
 (15,
  'Jennifer',
  'Peterson',
  'Rogers Canada',
  '700 W Pender Street',
  'Vancouver',
  'BC',
  'Canada',
  'V6C 1G8',
  '+1 (604) 688-2255',
  '+1 (604) 688-8756',
  'jenniferp@rogers.ca',
  3),
 (14,
  'Mark',
  'Philips',
  'Telus',
  '8210 111 ST NW',
  'Edmonton',
  'AB',
  'Canada',
  'T6G 2C7',
  '+1 (780) 434-4554',
  '+1 (780) 434-5565',
  'mphilips12@shaw.ca',
  5),
 (10,
  'Eduardo',
  'Martins',
  'Woodstock Discos',
  'Rua Dr. Falcão Filho, 155',
  'São Paulo',
  'SP',
  'Brazil',
  '01007-010',
  '+55 (11) 3033-5446',
  '+55 (11) 3033-4564',
  'eduardo@woodstock.com.br',
  4)]

In [703]:
# 2) Muestra que compania son de 'Brasil'
cursor.execute("SELECT * FROM Customer_with_companies WHERE Country LIKE '%Bra%il%' COLLATE NOCASE")
res = cursor.fetchall()

# Actividad 6 (Dame la factura)

De la tabla *Track* consigue la siguente informacion

In [704]:
# 1) Cual es el titulo de la cancion que menos pesa(Bytes) ?
cursor.execute('SELECT Name, Milliseconds FROM Track WHERE Milliseconds = (SELECT MIN(Milliseconds) FROM Track)')
cursor.fetchall()

[('É Uma Partida De Futebol', 1071)]

In [705]:
# 2) Cual es el titulo de cancion que mas dura (Miliseconds).
cursor.execute('SELECT Name, Milliseconds FROM Track WHERE Milliseconds = (SELECT MAX(Milliseconds) FROM Track)')
cursor.fetchall()

[('Occupation / Precipice', 5286953)]

In [706]:
# 3) Cuantas canciones cuesta 1$ o mas.
cursor.execute('SELECT count(UnitPrice) FROM Track WHERE UnitPrice >= 1')
cursor.fetchone()

(213,)

In [707]:
# 4) Cuantas canciones hay de Queen.
cursor.execute("SELECT count(name) FROM Track WHERE AlbumId IN (SELECT AlbumId FROM Album WHERE ArtistId = (SELECT ArtistId FROM Artist WHERE Name = 'QUEEN' COLLATE NOCASE))")
cursor.fetchall()

[(45,)]

In [708]:
# 5) Cual es la media de duracion entre todas las canciones.
cursor.execute('SELECT AVG(Milliseconds) FROM Track')
cursor.fetchone()

(393599.2121039109,)

In [709]:
# 6) Cual es la media de duracion entre todas las canciones de U2.
cursor.execute("SELECT AVG(Milliseconds) FROM Track WHERE AlbumId IN (SELECT AlbumId FROM Album WHERE ArtistId = (SELECT ArtistId FROM Artist WHERE Name = 'U2' COLLATE NOCASE))")
cursor.fetchall()

[(262385.05925925926,)]

In [710]:
# 7) Cuantas canciones esta Bill Berry como 'Composer'(Compositor).
cursor.execute('SELECT count(Name) FROM Track WHERE Composer LIKE "%Bill Berry%"')
cursor.fetchone()

(36,)

In [711]:
# 8) Un Mb son: Bite/1024/1024. Muestra todos los 'Tracks' calculando y renombrando la columna 'Bytes' en 'Mb'.

# Actividad 7 (Buscando facturas)

De la tabla *Invoice* consigue la siguente informacion:

In [866]:
# 1) Muestra: 'InvoiceId', nombre del cliente, 'BillingCountry'.
cursor.execute("SELECT InvoiceId, FirstName, LastName, BillingCountry FROM Customer JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId")
registros = cursor.fetchall()
registros
import pandas as pd
df = pd.DataFrame(registros, columns = ['InvoiceId', 'FirstName', 'LastName', 'BillingCountry'])
#blankIndex = ['']*len(df)
#df.index = blankIndex
#df
print(df.to_string(index=False))

 InvoiceId FirstName     LastName BillingCountry
         1    Leonie       Köhler        Germany
         2     Bjørn       Hansen         Norway
         3      Daan      Peeters        Belgium
         4      Mark      Philips         Canada
         5      John       Gordon            USA
         6      Fynn   Zimmermann        Germany
         7    Niklas     Schröder        Germany
         8 Dominique     Lefebvre         France
         9     Wyatt       Girard         France
        10      Hugh     O'Reilly        Ireland
        11      Emma        Jones United Kingdom
        12    Leonie       Köhler        Germany
        13     Frank       Harris            USA
        14      Jack        Smith            USA
        15       Tim        Goyer            USA
        16     Kathy        Chase            USA
        17    Victor      Stevens            USA
        18    Martha         Silk         Canada
        19 Dominique     Lefebvre         France
        20     Steve       Murray United Kingdom
        21      Mark       Taylor      Australia
        22      Luis        Rojas          Chile
        23      Puja   Srivastava          India
        24     Bjørn       Hansen         Norway
        25   Eduardo      Martins         Brazil
        26       Tim        Goyer            USA
        27     Ellie     Sullivan         Canada
        28      João    Fernandes       Portugal
        29    Hannah    Schneider        Germany
        30    Niklas     Schröder        Germany
        31     Wyatt       Girard         France
        32  Johannes Van der Berg    Netherlands
        33      Luis        Rojas          Chile
        34   Roberto      Almeida         Brazil
        35  Fernanda        Ramos         Brazil
        36  Jennifer     Peterson         Canada
        37      Jack        Smith            USA
        38     Kathy        Chase            USA
        39   Patrick         Gray            USA
        40    Hannah    Schneider        Germany
        41   Enrique        Muñoz          Spain
        42    Joakim    Johansson         Sweden
        43      Phil       Hughes United Kingdom
        44      Mark       Taylor      Australia
        45      Puja   Srivastava          India
        46    Helena         Holý Czech Republic
        47  Jennifer     Peterson         Canada
        48    Robert        Brown         Canada
        49    Edward      Francis         Canada
        50     Aaron     Mitchell         Canada
        51      João    Fernandes       Portugal
        52    Niklas     Schröder        Germany
        53     Terhi   Hämäläinen        Finland
        54      Phil       Hughes United Kingdom
        55      Daan      Peeters        Belgium
        56      Kara      Nielsen        Denmark
        57 Alexandre        Rocha         Brazil
        58  Fernanda        Ramos         Brazil
        59      Jack        Smith            USA
        60      John       Gordon            USA
        61     Aaron     Mitchell         Canada
        62      Hugh     O'Reilly        Ireland
        63     Lucas      Mancini          Italy
        64 Stanisław       Wójcik         Poland
        65    Joakim    Johansson         Sweden
        66      Mark       Taylor      Australia
        67    Leonie       Köhler        Germany
        68 Alexandre        Rocha         Brazil
        69    Victor      Stevens            USA
        70   Richard   Cunningham            USA
        71     Julia      Barnett            USA
        72    Edward      Francis         Canada
        73      João    Fernandes       Portugal
        74 Dominique     Lefebvre         France
        75 Stanisław       Wójcik         Poland
        76     Bjørn       Hansen         Norway
        77 František  Wichterlová Czech Republic
        78    Astrid       Gruber        Austria
        79      Kara      Nielsen        Denmark
        80  Fernanda        Ramos         Brazil
        81       Tim        Goyer            USA
        82     Julia      Barnett            USA
        83     Wyatt       Girard         France
        84  Isabelle      Mercier         France
        85  Ladislav       Kovács        Hungary
        86     Lucas      Mancini          Italy
        87    Joakim    Johansson         Sweden
        88      Luis        Rojas          Chile
        89    Astrid       Gruber        Austria
        90     Kathy        Chase            USA
        91   Heather      Leacock            USA
        92     Frank      Ralston            USA
        93   Richard   Cunningham            USA
        94    Edward      Francis         Canada
        95    Hannah    Schneider        Germany
        96  Ladislav       Kovács        Hungary
        97      Puja   Srivastava          India
        98      Luís    Gonçalves         Brazil
        99  François     Tremblay         Canada
       100 František  Wichterlová Czech Republic
       101      Kara      Nielsen        Denmark
       102  Jennifer     Peterson         Canada
       103     Frank      Ralston            USA
       104    Niklas     Schröder        Germany
       105   Camille      Bernard         France
       106      Marc       Dubois         France
       107  Isabelle      Mercier         France
       108     Lucas      Mancini          Italy
       109      Phil       Hughes United Kingdom
       110  François     Tremblay         Canada
       111      Jack        Smith            USA
       112  Michelle       Brooks            USA
       113       Dan       Miller            USA
       114   Heather      Leacock            USA
       115   Richard   Cunningham            USA
       116     Aaron     Mitchell         Canada
       117      Marc       Dubois         France
       118      Mark       Taylor      Australia
       119     Diego    Gutiérrez      Argentina
       120     Manoj       Pareek          India
       121      Luís    Gonçalves         Brazil
       122 František  Wichterlová Czech Republic
       123 Alexandre        Rocha         Brazil
       124       Dan       Miller            USA
       125      João    Fernandes       Portugal
       126  Madalena      Sampaio       Portugal
       127      Fynn   Zimmermann        Germany
       128   Camille      Bernard         France
       129  Isabelle      Mercier         France
       130 Stanisław       Wójcik         Poland
       131     Manoj       Pareek          India
       132  Fernanda        Ramos         Brazil
       133      Mark      Philips         Canada
       134     Frank       Harris            USA
       135  Michelle       Brooks            USA
       136   Heather      Leacock            USA
       137     Julia      Barnett            USA
       138      Fynn   Zimmermann        Germany
       139    Joakim    Johansson         Sweden
       140      Emma        Jones United Kingdom
       141     Steve       Murray United Kingdom
       142     Diego    Gutiérrez      Argentina
       143      Luís    Gonçalves         Brazil
       144    Astrid       Gruber        Austria
       145     Frank       Harris            USA
       146    Edward      Francis         Canada
       147    Martha         Silk         Canada
       148     Ellie     Sullivan         Canada
       149  Madalena      Sampaio       Portugal
       150   Camille      Bernard         France
       151  Ladislav       Kovács        Hungary
       152     Steve       Murray United Kingdom
       153      Kara      Nielsen        Denmark
       154   Eduardo      Martins         Brazil
       155   Roberto      Almeida         Brazil
       156      Mark      Philips         Canada
       157  Michelle       Brooks            USA
       158     Frank      Ralston            USA
       159     Ellie     Sullivan         Canada
       160     Lucas      Mancini          Italy
       161  Johannes Van der Berg    Netherlands
       162   Enrique        Muñoz          Spain
       163      Emma        Jones United Kingdom
       164     Diego    Gutiérrez      Argentina
       165  François     Tremblay         Canada
       166   Roberto      Almeida         Brazil
       167   Richard   Cunningham            USA
       168   Patrick         Gray            USA
       169    Robert        Brown         Canada
       170    Martha         Silk         Canada
       171  Madalena      Sampaio       Portugal
       172      Marc       Dubois         France
       173   Enrique        Muñoz          Spain
       174 František  Wichterlová Czech Republic
       175    Helena         Holý Czech Republic
       176      Daan      Peeters        Belgium
       177   Eduardo      Martins         Brazil
       178      Mark      Philips         Canada
       179       Dan       Miller            USA
       180    Robert        Brown         Canada
       181  Isabelle      Mercier         France
       182     Terhi   Hämäläinen        Finland
       183      Hugh     O'Reilly        Ireland
       184  Johannes Van der Berg    Netherlands
       185      Emma        Jones United Kingdom
       186     Manoj       Pareek          India
       187      Daan      Peeters        Belgium
       188   Heather      Leacock            USA
       189      John       Gordon            USA
       190    Victor      Stevens            USA
       191   Patrick         Gray            USA
       192    Martha         Silk         Canada
       193      Fynn   Zimmermann        Germany
       194      Hugh     O'Reilly        Ireland
       195      Luís    Gonçalves         Brazil
       196    Leonie       Köhler        Germany
       197     Bjørn       Hansen         Norway
       198    Helena         Holý Czech Republic
       199   Eduardo      Martins         Brazil
       200     Frank       Harris            USA
       201    Victor      Stevens            USA
       202   Camille      Bernard         France
       203 Dominique     Lefebvre         France
       204     Wyatt       Girard         France
       205     Terhi   Hämäläinen        Finland
       206  Johannes Van der Berg    Netherlands
       207     Steve       Murray United Kingdom
       208     Bjørn       Hansen         Norway
       209  Michelle       Brooks            USA
       210       Tim        Goyer            USA
       211     Kathy        Chase            USA
       212      John       Gordon            USA
       213   Patrick         Gray            USA
       214     Ellie     Sullivan         Canada
       215     Wyatt       Girard         France
       216     Diego    Gutiérrez      Argentina
       217      Luis        Rojas          Chile
       218      Puja   Srivastava          India
       219    Leonie       Köhler        Germany
       220    Helena         Holý Czech Republic
       221   Roberto      Almeida         Brazil
       222     Kathy        Chase            USA
       223  Madalena      Sampaio       Portugal
       224    Hannah    Schneider        Germany
       225    Niklas     Schröder        Germany
       226 Dominique     Lefebvre         France
       227     Terhi   Hämäläinen        Finland
       228   Enrique        Muñoz          Spain
       229      Puja   Srivastava          India
       230      Mark      Philips         Canada
       231  Jennifer     Peterson         Canada
       232      Jack        Smith            USA
       233       Tim        Goyer            USA
       234      John       Gordon            USA
       235    Robert        Brown         Canada
       236    Niklas     Schröder        Germany
       237      Emma        Jones United Kingdom
       238      Phil       Hughes United Kingdom
       239      Mark       Taylor      Australia
       240      Luis        Rojas          Chile
       241    Leonie       Köhler        Germany
       242      Daan      Peeters        Belgium
       243      Jack        Smith            USA
       244    Martha         Silk         Canada
       245     Aaron     Mitchell         Canada
       246      João    Fernandes       Portugal
       247    Hannah    Schneider        Germany
       248 Dominique     Lefebvre         France
       249      Hugh     O'Reilly        Ireland
       250      Mark       Taylor      Australia
       251   Eduardo      Martins         Brazil
       252 Alexandre        Rocha         Brazil
       253  Fernanda        Ramos         Brazil
       254  Jennifer     Peterson         Canada
       255       Tim        Goyer            USA
       256    Victor      Stevens            USA
       257      João    Fernandes       Portugal
       258  Johannes Van der Berg    Netherlands
       259 Stanisław       Wójcik         Poland
       260    Joakim    Johansson         Sweden
       261      Phil       Hughes United Kingdom
       262      Luis        Rojas          Chile
       263     Bjørn       Hansen         Norway
       264  Fernanda        Ramos         Brazil
       265   Patrick         Gray            USA
       266     Julia      Barnett            USA
       267    Edward      Francis         Canada
       268     Aaron     Mitchell         Canada
       269    Hannah    Schneider        Germany
       270     Wyatt       Girard         France
       271    Joakim    Johansson         Sweden
       272    Helena         Holý Czech Republic
       273    Astrid       Gruber        Austria
       274      Kara      Nielsen        Denmark
       275 Alexandre        Rocha         Brazil
       276  Jennifer     Peterson         Canada
       277     Kathy        Chase            USA
       278    Edward      Francis         Canada
       279     Terhi   Hämäläinen        Finland
       280  Ladislav       Kovács        Hungary
       281     Lucas      Mancini          Italy
       282 Stanisław       Wójcik         Poland
       283      Phil       Hughes United Kingdom
       284      Puja   Srivastava          India
       285      Kara      Nielsen        Denmark
       286      John       Gordon            USA
       287     Frank      Ralston            USA
       288   Richard   Cunningham            USA
       289     Julia      Barnett            USA
       290     Aaron     Mitchell         Canada
       291    Niklas     Schröder        Germany
       292     Lucas      Mancini          Italy
       293    Leonie       Köhler        Germany
       294  François     Tremblay         Canada
       295 František  Wichterlová Czech Republic
       296    Astrid       Gruber        Austria
       297 Alexandre        Rocha         Brazil
       298      Jack        Smith            USA
       299   Richard   Cunningham            USA
       300 Dominique     Lefebvre         France
       301      Marc       Dubois         France
       302  Isabelle      Mercier         France
       303  Ladislav       Kovács        Hungary
       304 Stanisław       Wójcik         Poland
       305      Mark       Taylor      Australia
       306 František  Wichterlová Czech Republic
       307       Tim        Goyer            USA
       308       Dan       Miller            USA
       309   Heather      Leacock            USA
       310     Frank      Ralston            USA
       311     Julia      Barnett            USA
       312      João    Fernandes       Portugal
       313  Isabelle      Mercier         France
       314      Luis        Rojas          Chile
       315     Manoj       Pareek          India
       316      Luís    Gonçalves         Brazil
       317  François     Tremblay         Canada
       318    Astrid       Gruber        Austria
       319  Fernanda        Ramos         Brazil
       320   Heather      Leacock            USA
       321    Hannah    Schneider        Germany
       322      Fynn   Zimmermann        Germany
       323   Camille      Bernard         France
       324      Marc       Dubois         France
       325  Ladislav       Kovács        Hungary
       326    Joakim    Johansson         Sweden
       327      Luís    Gonçalves         Brazil
       328  Jennifer     Peterson         Canada
       329     Frank       Harris            USA
       330  Michelle       Brooks            USA
       331       Dan       Miller            USA
       332     Frank      Ralston            USA
       333    Edward      Francis         Canada
       334   Camille      Bernard         France
       335      Phil       Hughes United Kingdom
       336     Steve       Murray United Kingdom
       337     Diego    Gutiérrez      Argentina
       338     Manoj       Pareek          India
       339  François     Tremblay         Canada
       340      Kara      Nielsen        Denmark
       341  Michelle       Brooks            USA
       342     Aaron     Mitchell         Canada
       343     Ellie     Sullivan         Canada
       344  Madalena      Sampaio       Portugal
       345      Fynn   Zimmermann        Germany
       346      Marc       Dubois         France
       347     Lucas      Mancini          Italy
       348     Diego    Gutiérrez      Argentina
       349 Alexandre        Rocha         Brazil
       350   Roberto      Almeida         Brazil
       351      Mark      Philips         Canada
       352     Frank       Harris            USA
       353       Dan       Miller            USA
       354   Richard   Cunningham            USA
       355  Madalena      Sampaio       Portugal
       356 Stanisław       Wójcik         Poland
       357   Enrique        Muñoz          Spain
       358      Emma        Jones United Kingdom
       359     Steve       Murray United Kingdom
       360     Manoj       Pareek          India
       361 František  Wichterlová Czech Republic
       362      Mark      Philips         Canada
       363     Julia      Barnett            USA
       364    Robert        Brown         Canada
       365    Martha         Silk         Canada
       366     Ellie     Sullivan         Canada
       367      Fynn   Zimmermann        Germany
       368  Isabelle      Mercier         France
       369      Emma        Jones United Kingdom
       370    Astrid       Gruber        Austria
       371      Daan      Peeters        Belgium
       372   Eduardo      Martins         Brazil
       373   Roberto      Almeida         Brazil
       374     Frank       Harris            USA
       375   Heather      Leacock            USA
       376    Martha         Silk         Canada
       377  Ladislav       Kovács        Hungary
       378      Hugh     O'Reilly        Ireland
       379  Johannes Van der Berg    Netherlands
       380   Enrique        Muñoz          Spain
       381     Steve       Murray United Kingdom
       382      Luís    Gonçalves         Brazil
       383   Eduardo      Martins         Brazil
       384     Frank      Ralston            USA
       385    Victor      Stevens            USA
       386   Patrick         Gray            USA
       387    Robert        Brown         Canada
       388     Ellie     Sullivan         Canada
       389   Camille      Bernard         France
       390  Johannes Van der Berg    Netherlands
       391  François     Tremblay         Canada
       392     Bjørn       Hansen         Norway
       393    Helena         Holý Czech Republic
       394      Daan      Peeters        Belgium
       395   Roberto      Almeida         Brazil
       396  Michelle       Brooks            USA
       397   Patrick         Gray            USA
       398      Marc       Dubois         France
       399     Wyatt       Girard         France
       400     Terhi   Hämäläinen        Finland
       401      Hugh     O'Reilly        Ireland
       402   Enrique        Muñoz          Spain
       403     Diego    Gutiérrez      Argentina
       404    Helena         Holý Czech Republic
       405       Dan       Miller            USA
       406     Kathy        Chase            USA
       407      John       Gordon            USA

In [867]:
# 2) Ordena de mayor a menor por 'Total'

In [868]:
# 3) Cual es el pais que mas a facturado.

# Actividad 8 (Alimentando la productora)

In [869]:
# 1) Añade 5 artistas que te gusten en la tabla 'Artist'.

In [870]:
# 2) Introduce el MediaType Wav

In [871]:
# 3) Crea 2 discos que esten relacionados con los artistas que has creado.º

# Actividad 9 (Artistas desaparecidos)

Volver a usar la tabla *Artist* (cantante). (usa *PRAGMA foreign key = OFF* para desactivar la comprobacion)

In [872]:
# 1) Borra a U2

In [873]:
# 2) Borra los artistas que tengan en su nombre el simbolo *&*.

In [874]:
# 3) Borra los artistas con una ID entre 201 y 230.

In [875]:
# 4) Borra toda la tabla de *Track*.

# Actividad 10 (Se acabaron las rebajas)

Volvemos a usar la tabla *Track* (cancion).

In [876]:
# 1) Sube el precio de todas las canciones de 0.99 a 2.99

In [877]:
# 2) sube el precio de todas las canciones de 1.99 a 4.99.

In [878]:
# 3) cambia el compositor (Composer) por 'Sara' del 'TrackId' numero 2000.

In [879]:
# 4) cambia el compositor(Composer) por 'clasico' de todas las canciones que empiecen con el nombre 'Concerto'.