Crea notebook de Jupyter y con la librería de SQLite realiza las siguientes consultas a la base de datos "Chinook_Sqlite" (archivo proporcionado junto con los apuntes de SQL).

In [69]:
import sqlite3
conn = sqlite3.connect('Chinook_Sqlite.sqlite')

In [70]:
cursor = conn.cursor()

# Actividad 1 (Atencion al cliente)

Trabaja con table Customer

In [71]:
# 1)mustra la columna 'Email'
res = cursor.execute('SELECT Email FROM Customer')
res.fetchone()

('luisg@embraer.com.br',)

In [72]:
# 2)muestra la columna FirstName
res = cursor.execute('SELECT FirstName FROM Customer')
res.fetchone()

('Luís',)

In [73]:
# 3)muestra la columna FirstName y LastName
res = cursor.execute('SELECT FirstName , LastName FROM Customer')
res.fetchone()

('Luís', 'Gonçalves')

In [74]:
# 4) muestra la columna Address, Phone, Fax
res = cursor.execute('SELECT FirstName, Address, Phone, Fax FROM Customer')
res.fetchone()

('Luís',
 'Av. Brigadeiro Faria Lima, 2170',
 '+55 (12) 3923-5555',
 '+55 (12) 3923-5566')

In [75]:
# 5) muestra todas las columnas
res = cursor.execute('SELECT * FROM Customer')
res.fetchone()

(1,
 'Luís',
 'Gonçalves',
 'Embraer - Empresa Brasileira de Aeronáutica S.A.',
 'Av. Brigadeiro Faria Lima, 2170',
 'São José dos Campos',
 'SP',
 'Brazil',
 '12227-000',
 '+55 (12) 3923-5555',
 '+55 (12) 3923-5566',
 'luisg@embraer.com.br',
 3)

# Actividad 2(Ordenando a mi manera)

In [76]:
# 1) ordena la tabla 'Genre' por orden alfabetico 
res1 = cursor.execute('SELECT * FROM Genre ORDER BY Name')
for i, j in enumerate(res):
    print(i, j)

0 (23, 'Alternative')
1 (4, 'Alternative & Punk')
2 (6, 'Blues')
3 (11, 'Bossa Nova')
4 (24, 'Classical')
5 (22, 'Comedy')
6 (21, 'Drama')
7 (12, 'Easy Listening')
8 (15, 'Electronica/Dance')
9 (13, 'Heavy Metal')
10 (17, 'Hip Hop/Rap')
11 (2, 'Jazz')
12 (7, 'Latin')
13 (3, 'Metal')
14 (25, 'Opera')
15 (9, 'Pop')
16 (14, 'R&B/Soul')
17 (8, 'Reggae')
18 (1, 'Rock')
19 (5, 'Rock And Roll')
20 (20, 'Sci Fi & Fantasy')
21 (18, 'Science Fiction')
22 (10, 'Soundtrack')
23 (19, 'TV Shows')
24 (16, 'World')

In [77]:
# 2) corta los resultados para que solo se muestren los 6 primeros 
res = cursor.execute('SELECT * FROM Genre ORDER BY Name LIMIT 6')
for i, j in enumerate(res):
    print(i, j)

0 (23, 'Alternative')
1 (4, 'Alternative & Punk')
2 (6, 'Blues')
3 (11, 'Bossa Nova')
4 (24, 'Classical')
5 (22, 'Comedy')

In [78]:
# 3) muestra las ultimas 2 filas de la tabla
res = cursor.execute('SELECT * FROM (SELECT * FROM Genre ORDER BY Name) ORDER BY Name DESC LIMIT 2')
for i, j in enumerate(res):
    print(i, j)

0 (16, 'World')
1 (19, 'TV Shows')

# Actividad 3 (En busca del peor cliente)

Usamos la tabla Customer

In [79]:
# 1) muestra los usuarios que han reportado mas de 3 incidencias (columna donde de cuenta es 'SupportRepid')

res = cursor.execute('SELECT CustomerId, FirstName, LastName, Country FROM Customer WHERE SupportRepid > 3')
res.fetchone()

(4, 'Bjørn', 'Hansen', 'Norway')

In [80]:
# 2) filtra los resultados anteriores por los que viven en 'Brasil'
res = cursor.execute('SELECT CustomerId, FirstName, LastName, Country FROM Customer WHERE (SupportRepid > 3 and Country = "Brazil")')
res.fetchall()

[(10, 'Eduardo', 'Martins', 'Brazil'),
 (13, 'Fernanda', 'Ramos', 'Brazil'),
 (11, 'Alexandre', 'Rocha', 'Brazil')]

In [81]:
# 3) muestra los usuarios que tengan un codico postal empezando con 7
res = cursor.execute('SELECT FirstName, LastName, Country, PostalCode From Customer WHERE PostalCode LIKE "7%"')
res.fetchall()

[('Leonie', 'Köhler', 'Germany', '70174'),
 ('Fernanda', 'Ramos', 'Brazil', '71020-677'),
 ('Richard', 'Cunningham', 'USA', '76110'),
 ('Camille', 'Bernard', 'France', '75009'),
 ('Dominique', 'Lefebvre', 'France', '75002')]

In [82]:
# 4) muestra los usuarios que tengan un email de 'hotmail'
cursor.execute('SELECT FirstName, LastName, Email FROM Customer WHERE Email LIKE "%hotmail%"')
res = cursor.fetchall()

In [83]:
res

[('Kathy', 'Chase', 'kachase@hotmail.com'),
 ('Richard', 'Cunningham', 'ricunningham@hotmail.com'),
 ('Marc', 'Dubois', 'marc.dubois@hotmail.com'),
 ('Emma', 'Jones', 'emma_jones@hotmail.com')]

In [84]:
# 5) muestra los usuarios nacidos en USA o Canada
cursor.execute('SELECT FirstName, LastName, Country, Email FROM Customer WHERE Country = "USA" OR Country = "Canada"')
res = cursor.fetchall()
res

[('François', 'Tremblay', 'Canada', 'ftremblay@gmail.com'),
 ('Mark', 'Philips', 'Canada', 'mphilips12@shaw.ca'),
 ('Jennifer', 'Peterson', 'Canada', 'jenniferp@rogers.ca'),
 ('Frank', 'Harris', 'USA', 'fharris@google.com'),
 ('Jack', 'Smith', 'USA', 'jacksmith@microsoft.com'),
 ('Michelle', 'Brooks', 'USA', 'michelleb@aol.com'),
 ('Tim', 'Goyer', 'USA', 'tgoyer@apple.com'),
 ('Dan', 'Miller', 'USA', 'dmiller@comcast.com'),
 ('Kathy', 'Chase', 'USA', 'kachase@hotmail.com'),
 ('Heather', 'Leacock', 'USA', 'hleacock@gmail.com'),
 ('John', 'Gordon', 'USA', 'johngordon22@yahoo.com'),
 ('Frank', 'Ralston', 'USA', 'fralston@gmail.com'),
 ('Victor', 'Stevens', 'USA', 'vstevens@yahoo.com'),
 ('Richard', 'Cunningham', 'USA', 'ricunningham@hotmail.com'),
 ('Patrick', 'Gray', 'USA', 'patrick.gray@aol.com'),
 ('Julia', 'Barnett', 'USA', 'jubarnett@gmail.com'),
 ('Robert', 'Brown', 'Canada', 'robbrown@shaw.ca'),
 ('Edward', 'Francis', 'Canada', 'edfrancis@yachoo.ca'),
 ('Martha', 'Silk', 'Canada', 'marthasilk@gmail.com'),
 ('Aaron', 'Mitchell', 'Canada', 'aaronmitchell@yahoo.ca'),
 ('Ellie', 'Sullivan', 'Canada', 'ellie.sullivan@shaw.ca')]

In [85]:
# 6) de los resultados anteriores, muestra los que tengan un email de 'gmail'
cursor.execute('SELECT FirstName, LastName, Country, Email FROM Customer WHERE Email LIKE "%@gmail%" AND (Country = "USA" OR Country = "Canada")')
res = cursor.fetchall()
res

[('François', 'Tremblay', 'Canada', 'ftremblay@gmail.com'),
 ('Heather', 'Leacock', 'USA', 'hleacock@gmail.com'),
 ('Frank', 'Ralston', 'USA', 'fralston@gmail.com'),
 ('Julia', 'Barnett', 'USA', 'jubarnett@gmail.com'),
 ('Martha', 'Silk', 'Canada', 'marthasilk@gmail.com')]

In [86]:
# 6) muestra los usuarios que trabaja en Apple (columna Company)
# Aviso: np sabes el formato de la compania, podria ser: Apple SL, Company Apple, APPLE...
cursor.execute('SELECT  FirstName, LastName, Company FROM Customer WHERE Company LIKE "%APPLE%"')
res = cursor.fetchall()
res

[('Tim', 'Goyer', 'Apple Inc.')]

In [87]:
# 7) muestra los usuarios que han reportado entre 3 y 4 incidencias
cursor.execute('SELECT FirstName, LastName, SupportRepid FROM Customer WHERE SupportRepid BETWEEN 3 AND 4')
res = cursor.fetchall()
res

[('Luís', 'Gonçalves', 3),
 ('François', 'Tremblay', 3),
 ('Roberto', 'Almeida', 3),
 ('Jennifer', 'Peterson', 3),
 ('Michelle', 'Brooks', 3),
 ('Tim', 'Goyer', 3),
 ('Frank', 'Ralston', 3),
 ('Robert', 'Brown', 3),
 ('Edward', 'Francis', 3),
 ('Ellie', 'Sullivan', 3),
 ('Fynn', 'Zimmermann', 3),
 ('Niklas', 'Schröder', 3),
 ('Wyatt', 'Girard', 3),
 ('Isabelle', 'Mercier', 3),
 ('Terhi', 'Hämäläinen', 3),
 ('Ladislav', 'Kovács', 3),
 ('Hugh', "O'Reilly", 3),
 ('Emma', 'Jones', 3),
 ('Phil', 'Hughes', 3),
 ('Manoj', 'Pareek', 3),
 ('Puja', 'Srivastava', 3),
 ('Bjørn', 'Hansen', 4),
 ('František', 'Wichterlová', 4),
 ('Daan', 'Peeters', 4),
 ('Kara', 'Nielsen', 4),
 ('Eduardo', 'Martins', 4),
 ('Fernanda', 'Ramos', 4),
 ('Frank', 'Harris', 4),
 ('Dan', 'Miller', 4),
 ('Heather', 'Leacock', 4),
 ('John', 'Gordon', 4),
 ('Richard', 'Cunningham', 4),
 ('Patrick', 'Gray', 4),
 ('Aaron', 'Mitchell', 4),
 ('João', 'Fernandes', 4),
 ('Madalena', 'Sampaio', 4),
 ('Camille', 'Bernard', 4),
 ('Dominique', 'Lefebvre', 4),
 ('Stanisław', 'Wójcik', 4),
 ('Mark', 'Taylor', 4),
 ('Diego', 'Gutiérrez', 4)]

# Actividad 3 (Limpieza de personal)

Usaremos la tabla 'Employee'

In [100]:
# 1) Cuenta la cantidad de empleados que hay por ciudad
cursor.execute('SELECT City, count(EmployeeId) FROM Employee GROUP BY City')
cursor.fetchall()

[('Calgary', 5), ('Edmonton', 1), ('Lethbridge', 2)]

In [105]:
# 2) cuenta la cantidad de empleados que hay por departamento
cursor.execute('SELECT  Title, count(EmployeeId) FROM Employee GROUP BY Title')
cursor.fetchall()

[('General Manager', 1),
 ('IT Manager', 1),
 ('IT Staff', 2),
 ('Sales Manager', 1),
 ('Sales Support Agent', 3)]

In [118]:
# 3) muestra la edad de cada empleado
cursor.execute("SELECT FirstName, LastName, (strftime('%Y', 'now') - strftime('%Y', BirthDate)) - (strftime('%m-%d', 'now') < strftime('%m-%d', BirthDate)) FROM Employee")
cursor.fetchall()

[('Andrew', 'Adams', 61),
 ('Nancy', 'Edwards', 64),
 ('Jane', 'Peacock', 50),
 ('Margaret', 'Park', 76),
 ('Steve', 'Johnson', 58),
 ('Michael', 'Mitchell', 50),
 ('Robert', 'King', 53),
 ('Laura', 'Callahan', 55)]

In [ ]:
# 4) calcula la media de edad por departamento (Title)

In [ ]:
# 5) cuenta los empleados que fueron contratados, de media, por año