Crea notebook de Jupyter y con la librería de SQLite realiza las siguientes consultas a la base de datos "Chinook_Sqlite" (archivo proporcionado junto con los apuntes de SQL).

In [60]:
import sqlite3
conn = sqlite3.connect('Chinook_Sqlite.sqlite')

In [61]:
cur = conn.cursor()

Trabaja con table Customer

In [62]:
# mustra la columna 'Email'
res = cur.execute('SELECT Email FROM Customer')
res.fetchone()

('luisg@embraer.com.br',)

In [63]:
# muestra la columna FirstName
res = cur.execute('SELECT FirstName FROM Customer')
res.fetchone()

('Luís',)

In [64]:
# muestra la columna FirstName y LastName
res = cur.execute('SELECT FirstName , LastName FROM Customer')
res.fetchone()

('Luís', 'Gonçalves')

In [65]:
# muestra la columna Address, Phone, Fax
res = cur.execute('SELECT FirstName, Address, Phone, Fax FROM Customer')
res.fetchone()

('Luís',
 'Av. Brigadeiro Faria Lima, 2170',
 '+55 (12) 3923-5555',
 '+55 (12) 3923-5566')

In [66]:
# muestra todas las columnas
res = cur.execute('SELECT * FROM Customer')
res.fetchone()

(1,
 'Luís',
 'Gonçalves',
 'Embraer - Empresa Brasileira de Aeronáutica S.A.',
 'Av. Brigadeiro Faria Lima, 2170',
 'São José dos Campos',
 'SP',
 'Brazil',
 '12227-000',
 '+55 (12) 3923-5555',
 '+55 (12) 3923-5566',
 'luisg@embraer.com.br',
 3)

Actividad 3-1(Ordenando a mi manera)

In [67]:
# ordena la tabla 'Genre' por orden alfabetico 
res1 = cur.execute('SELECT * FROM Genre ORDER BY Name')
for i, j in enumerate(res):
    print(i, j)

0 (23, 'Alternative')
1 (4, 'Alternative & Punk')
2 (6, 'Blues')
3 (11, 'Bossa Nova')
4 (24, 'Classical')
5 (22, 'Comedy')
6 (21, 'Drama')
7 (12, 'Easy Listening')
8 (15, 'Electronica/Dance')
9 (13, 'Heavy Metal')
10 (17, 'Hip Hop/Rap')
11 (2, 'Jazz')
12 (7, 'Latin')
13 (3, 'Metal')
14 (25, 'Opera')
15 (9, 'Pop')
16 (14, 'R&B/Soul')
17 (8, 'Reggae')
18 (1, 'Rock')
19 (5, 'Rock And Roll')
20 (20, 'Sci Fi & Fantasy')
21 (18, 'Science Fiction')
22 (10, 'Soundtrack')
23 (19, 'TV Shows')
24 (16, 'World')

In [68]:
# corta los resultados para que solo se muestren los 6 primeros 
res = cur.execute('SELECT * FROM Genre ORDER BY Name LIMIT 6')
for i, j in enumerate(res):
    print(i, j)

0 (23, 'Alternative')
1 (4, 'Alternative & Punk')
2 (6, 'Blues')
3 (11, 'Bossa Nova')
4 (24, 'Classical')
5 (22, 'Comedy')

In [69]:
# muestra las ultimas 2 filas de la tabla
res = cur.execute('SELECT * FROM (SELECT * FROM Genre ORDER BY Name) ORDER BY Name DESC LIMIT 2')
for i, j in enumerate(res):
    print(i, j)

0 (16, 'World')
1 (19, 'TV Shows')

Actividad 3-2 (En busca del peor cliente)

Usamos la tabla Customer

In [70]:
# muestra los usuarios que han reportado mas de 3 incidencias
# columna donde de cuenta es 'SupportRepid'

res = cur.execute('SELECT CustomerId, FirstName, LastName, Country FROM Customer WHERE SupportRepid > 3')
res.fetchone()

(4, 'Bjørn', 'Hansen', 'Norway')

In [71]:
# filtra los resultados anteriores por los que viven en Brasil
res = cur.execute('SELECT CustomerId, FirstName, LastName, Country FROM Customer WHERE (SupportRepid > 3 and Country = "Brazil")');
res.fetchall()

[(10, 'Eduardo', 'Martins', 'Brazil'),
 (13, 'Fernanda', 'Ramos', 'Brazil'),
 (11, 'Alexandre', 'Rocha', 'Brazil')]

In [72]:
# muestra los usuarios que tengan un codico postal empezando con 7
res = cur.execute('SELECT FirstName, LastName, Country, PostalCode From Customer WHERE PostalCode LIKE "7%"')
res.fetchall()

[('Leonie', 'Köhler', 'Germany', '70174'),
 ('Fernanda', 'Ramos', 'Brazil', '71020-677'),
 ('Richard', 'Cunningham', 'USA', '76110'),
 ('Camille', 'Bernard', 'France', '75009'),
 ('Dominique', 'Lefebvre', 'France', '75002')]

In [73]:
res

In [74]:
# muestra los usuarios que tengan un email de 'hotmail'
cur.execute('SELECT FirstName, LastName, Email FROM Customer WHERE Email LIKE "%hotmail%"')
res = cur.fetchall()

In [75]:
res

[('Kathy', 'Chase', 'kachase@hotmail.com'),
 ('Richard', 'Cunningham', 'ricunningham@hotmail.com'),
 ('Marc', 'Dubois', 'marc.dubois@hotmail.com'),
 ('Emma', 'Jones', 'emma_jones@hotmail.com')]

In [76]:
# muestra los usuarios nacidos en USA o Canada
cur.execute('SELECT FirstName, LastName, Country, Email FROM Customer WHERE Country = "USA" OR Country = "Canada"')
res = cur.fetchall()
res

[('François', 'Tremblay', 'Canada', 'ftremblay@gmail.com'),
 ('Mark', 'Philips', 'Canada', 'mphilips12@shaw.ca'),
 ('Jennifer', 'Peterson', 'Canada', 'jenniferp@rogers.ca'),
 ('Frank', 'Harris', 'USA', 'fharris@google.com'),
 ('Jack', 'Smith', 'USA', 'jacksmith@microsoft.com'),
 ('Michelle', 'Brooks', 'USA', 'michelleb@aol.com'),
 ('Tim', 'Goyer', 'USA', 'tgoyer@apple.com'),
 ('Dan', 'Miller', 'USA', 'dmiller@comcast.com'),
 ('Kathy', 'Chase', 'USA', 'kachase@hotmail.com'),
 ('Heather', 'Leacock', 'USA', 'hleacock@gmail.com'),
 ('John', 'Gordon', 'USA', 'johngordon22@yahoo.com'),
 ('Frank', 'Ralston', 'USA', 'fralston@gmail.com'),
 ('Victor', 'Stevens', 'USA', 'vstevens@yahoo.com'),
 ('Richard', 'Cunningham', 'USA', 'ricunningham@hotmail.com'),
 ('Patrick', 'Gray', 'USA', 'patrick.gray@aol.com'),
 ('Julia', 'Barnett', 'USA', 'jubarnett@gmail.com'),
 ('Robert', 'Brown', 'Canada', 'robbrown@shaw.ca'),
 ('Edward', 'Francis', 'Canada', 'edfrancis@yachoo.ca'),
 ('Martha', 'Silk', 'Canada', 'marthasilk@gmail.com'),
 ('Aaron', 'Mitchell', 'Canada', 'aaronmitchell@yahoo.ca'),
 ('Ellie', 'Sullivan', 'Canada', 'ellie.sullivan@shaw.ca')]

In [77]:
# de los resultados anteriores, muestra los que tengan un email de 'gmail'
cur.execute('SELECT FirstName, LastName, Country, Email FROM Customer WHERE Country = "USA" OR Country = "Canada" AND Email LIKE "%@gmail.com"')
res = cur.fetchall()
res

[('François', 'Tremblay', 'Canada', 'ftremblay@gmail.com'),
 ('Frank', 'Harris', 'USA', 'fharris@google.com'),
 ('Jack', 'Smith', 'USA', 'jacksmith@microsoft.com'),
 ('Michelle', 'Brooks', 'USA', 'michelleb@aol.com'),
 ('Tim', 'Goyer', 'USA', 'tgoyer@apple.com'),
 ('Dan', 'Miller', 'USA', 'dmiller@comcast.com'),
 ('Kathy', 'Chase', 'USA', 'kachase@hotmail.com'),
 ('Heather', 'Leacock', 'USA', 'hleacock@gmail.com'),
 ('John', 'Gordon', 'USA', 'johngordon22@yahoo.com'),
 ('Frank', 'Ralston', 'USA', 'fralston@gmail.com'),
 ('Victor', 'Stevens', 'USA', 'vstevens@yahoo.com'),
 ('Richard', 'Cunningham', 'USA', 'ricunningham@hotmail.com'),
 ('Patrick', 'Gray', 'USA', 'patrick.gray@aol.com'),
 ('Julia', 'Barnett', 'USA', 'jubarnett@gmail.com'),
 ('Martha', 'Silk', 'Canada', 'marthasilk@gmail.com')]