Crea notebook de Jupyter y con la librería de SQLite realiza las siguientes consultas a la base de datos "Chinook_Sqlite" (archivo proporcionado junto con los apuntes de SQL).

In [121]:
import sqlite3
conn = sqlite3.connect('Chinook_Sqlite.sqlite')

In [122]:
cursor = conn.cursor()

# Actividad 1 (Atencion al cliente)

Trabaja con table Customer

In [123]:
# 1)mustra la columna 'Email'
res = cursor.execute('SELECT Email FROM Customer')
res.fetchone()

('luisg@embraer.com.br',)

In [124]:
# 2)muestra la columna FirstName
res = cursor.execute('SELECT FirstName FROM Customer')
res.fetchone()

('Luís',)

In [125]:
# 3)muestra la columna FirstName y LastName
res = cursor.execute('SELECT FirstName , LastName FROM Customer')
res.fetchone()

('Luís', 'Gonçalves')

In [126]:
# 4) muestra la columna Address, Phone, Fax
res = cursor.execute('SELECT FirstName, Address, Phone, Fax FROM Customer')
res.fetchone()

('Luís',
 'Av. Brigadeiro Faria Lima, 2170',
 '+55 (12) 3923-5555',
 '+55 (12) 3923-5566')

In [127]:
# 5) muestra todas las columnas
res = cursor.execute('SELECT * FROM Customer')
res.fetchone()

(1,
 'Luís',
 'Gonçalves',
 'Embraer - Empresa Brasileira de Aeronáutica S.A.',
 'Av. Brigadeiro Faria Lima, 2170',
 'São José dos Campos',
 'SP',
 'Brazil',
 '12227-000',
 '+55 (12) 3923-5555',
 '+55 (12) 3923-5566',
 'luisg@embraer.com.br',
 3)

# Actividad 2(Ordenando a mi manera)

In [128]:
# 1) ordena la tabla 'Genre' por orden alfabetico 
res1 = cursor.execute('SELECT * FROM Genre ORDER BY Name')
for i, j in enumerate(res):
    print(i, j)

0 (23, 'Alternative')
1 (4, 'Alternative & Punk')
2 (6, 'Blues')
3 (11, 'Bossa Nova')
4 (24, 'Classical')
5 (22, 'Comedy')
6 (21, 'Drama')
7 (12, 'Easy Listening')
8 (15, 'Electronica/Dance')
9 (13, 'Heavy Metal')
10 (17, 'Hip Hop/Rap')
11 (2, 'Jazz')
12 (7, 'Latin')
13 (3, 'Metal')
14 (25, 'Opera')
15 (9, 'Pop')
16 (14, 'R&B/Soul')
17 (8, 'Reggae')
18 (1, 'Rock')
19 (5, 'Rock And Roll')
20 (20, 'Sci Fi & Fantasy')
21 (18, 'Science Fiction')
22 (10, 'Soundtrack')
23 (19, 'TV Shows')
24 (16, 'World')

In [129]:
# 2) corta los resultados para que solo se muestren los 6 primeros 
res = cursor.execute('SELECT * FROM Genre ORDER BY Name LIMIT 6')
for i, j in enumerate(res):
    print(i, j)

0 (23, 'Alternative')
1 (4, 'Alternative & Punk')
2 (6, 'Blues')
3 (11, 'Bossa Nova')
4 (24, 'Classical')
5 (22, 'Comedy')

In [130]:
# 3) muestra las ultimas 2 filas de la tabla
res = cursor.execute('SELECT * FROM (SELECT * FROM Genre ORDER BY Name) ORDER BY Name DESC LIMIT 2')
for i, j in enumerate(res):
    print(i, j)

0 (16, 'World')
1 (19, 'TV Shows')

# Actividad 3 (En busca del peor cliente)

Usamos la tabla Customer

In [131]:
# 1) muestra los usuarios que han reportado mas de 3 incidencias (columna donde de cuenta es 'SupportRepid')

res = cursor.execute('SELECT CustomerId, FirstName, LastName, Country FROM Customer WHERE SupportRepid > 3')
res.fetchone()

(4, 'Bjørn', 'Hansen', 'Norway')

In [132]:
# 2) filtra los resultados anteriores por los que viven en 'Brasil'
res = cursor.execute('SELECT CustomerId, FirstName, LastName, Country FROM Customer WHERE (SupportRepid > 3 and Country = "Brazil")')
res.fetchall()

[(10, 'Eduardo', 'Martins', 'Brazil'),
 (13, 'Fernanda', 'Ramos', 'Brazil'),
 (11, 'Alexandre', 'Rocha', 'Brazil')]

In [133]:
# 3) muestra los usuarios que tengan un codico postal empezando con 7
res = cursor.execute('SELECT FirstName, LastName, Country, PostalCode From Customer WHERE PostalCode LIKE "7%"')
res.fetchall()

[('Leonie', 'Köhler', 'Germany', '70174'),
 ('Fernanda', 'Ramos', 'Brazil', '71020-677'),
 ('Richard', 'Cunningham', 'USA', '76110'),
 ('Camille', 'Bernard', 'France', '75009'),
 ('Dominique', 'Lefebvre', 'France', '75002')]

In [134]:
# 4) muestra los usuarios que tengan un email de 'hotmail'
cursor.execute('SELECT FirstName, LastName, Email FROM Customer WHERE Email LIKE "%hotmail%"')
res = cursor.fetchall()

In [135]:
res

[('Kathy', 'Chase', 'kachase@hotmail.com'),
 ('Richard', 'Cunningham', 'ricunningham@hotmail.com'),
 ('Marc', 'Dubois', 'marc.dubois@hotmail.com'),
 ('Emma', 'Jones', 'emma_jones@hotmail.com')]

In [136]:
# 5) muestra los usuarios nacidos en USA o Canada
cursor.execute('SELECT FirstName, LastName, Country, Email FROM Customer WHERE Country = "USA" OR Country = "Canada"')
res = cursor.fetchall()
res

[('François', 'Tremblay', 'Canada', 'ftremblay@gmail.com'),
 ('Mark', 'Philips', 'Canada', 'mphilips12@shaw.ca'),
 ('Jennifer', 'Peterson', 'Canada', 'jenniferp@rogers.ca'),
 ('Frank', 'Harris', 'USA', 'fharris@google.com'),
 ('Jack', 'Smith', 'USA', 'jacksmith@microsoft.com'),
 ('Michelle', 'Brooks', 'USA', 'michelleb@aol.com'),
 ('Tim', 'Goyer', 'USA', 'tgoyer@apple.com'),
 ('Dan', 'Miller', 'USA', 'dmiller@comcast.com'),
 ('Kathy', 'Chase', 'USA', 'kachase@hotmail.com'),
 ('Heather', 'Leacock', 'USA', 'hleacock@gmail.com'),
 ('John', 'Gordon', 'USA', 'johngordon22@yahoo.com'),
 ('Frank', 'Ralston', 'USA', 'fralston@gmail.com'),
 ('Victor', 'Stevens', 'USA', 'vstevens@yahoo.com'),
 ('Richard', 'Cunningham', 'USA', 'ricunningham@hotmail.com'),
 ('Patrick', 'Gray', 'USA', 'patrick.gray@aol.com'),
 ('Julia', 'Barnett', 'USA', 'jubarnett@gmail.com'),
 ('Robert', 'Brown', 'Canada', 'robbrown@shaw.ca'),
 ('Edward', 'Francis', 'Canada', 'edfrancis@yachoo.ca'),
 ('Martha', 'Silk', 'Canada', 'marthasilk@gmail.com'),
 ('Aaron', 'Mitchell', 'Canada', 'aaronmitchell@yahoo.ca'),
 ('Ellie', 'Sullivan', 'Canada', 'ellie.sullivan@shaw.ca')]

In [137]:
# 6) de los resultados anteriores, muestra los que tengan un email de 'gmail'
cursor.execute('SELECT FirstName, LastName, Country, Email FROM Customer WHERE Email LIKE "%@gmail%" AND (Country = "USA" OR Country = "Canada")')
res = cursor.fetchall()
res

[('François', 'Tremblay', 'Canada', 'ftremblay@gmail.com'),
 ('Heather', 'Leacock', 'USA', 'hleacock@gmail.com'),
 ('Frank', 'Ralston', 'USA', 'fralston@gmail.com'),
 ('Julia', 'Barnett', 'USA', 'jubarnett@gmail.com'),
 ('Martha', 'Silk', 'Canada', 'marthasilk@gmail.com')]

In [138]:
# 6) muestra los usuarios que trabaja en Apple (columna Company)
# Aviso: np sabes el formato de la compania, podria ser: Apple SL, Company Apple, APPLE...
cursor.execute('SELECT  FirstName, LastName, Company FROM Customer WHERE Company LIKE "%APPLE%"')
res = cursor.fetchall()
res

[('Tim', 'Goyer', 'Apple Inc.')]

In [139]:
# 7) muestra los usuarios que han reportado entre 3 y 4 incidencias
cursor.execute('SELECT FirstName, LastName, SupportRepid FROM Customer WHERE SupportRepid BETWEEN 3 AND 4')
res = cursor.fetchall()
res

[('Luís', 'Gonçalves', 3),
 ('François', 'Tremblay', 3),
 ('Roberto', 'Almeida', 3),
 ('Jennifer', 'Peterson', 3),
 ('Michelle', 'Brooks', 3),
 ('Tim', 'Goyer', 3),
 ('Frank', 'Ralston', 3),
 ('Robert', 'Brown', 3),
 ('Edward', 'Francis', 3),
 ('Ellie', 'Sullivan', 3),
 ('Fynn', 'Zimmermann', 3),
 ('Niklas', 'Schröder', 3),
 ('Wyatt', 'Girard', 3),
 ('Isabelle', 'Mercier', 3),
 ('Terhi', 'Hämäläinen', 3),
 ('Ladislav', 'Kovács', 3),
 ('Hugh', "O'Reilly", 3),
 ('Emma', 'Jones', 3),
 ('Phil', 'Hughes', 3),
 ('Manoj', 'Pareek', 3),
 ('Puja', 'Srivastava', 3),
 ('Bjørn', 'Hansen', 4),
 ('František', 'Wichterlová', 4),
 ('Daan', 'Peeters', 4),
 ('Kara', 'Nielsen', 4),
 ('Eduardo', 'Martins', 4),
 ('Fernanda', 'Ramos', 4),
 ('Frank', 'Harris', 4),
 ('Dan', 'Miller', 4),
 ('Heather', 'Leacock', 4),
 ('John', 'Gordon', 4),
 ('Richard', 'Cunningham', 4),
 ('Patrick', 'Gray', 4),
 ('Aaron', 'Mitchell', 4),
 ('João', 'Fernandes', 4),
 ('Madalena', 'Sampaio', 4),
 ('Camille', 'Bernard', 4),
 ('Dominique', 'Lefebvre', 4),
 ('Stanisław', 'Wójcik', 4),
 ('Mark', 'Taylor', 4),
 ('Diego', 'Gutiérrez', 4)]

# Actividad 3 (Limpieza de personal)

Usaremos la tabla 'Employee'

In [140]:
# 1) Cuenta la cantidad de empleados que hay por ciudad
cursor.execute('SELECT City, count(EmployeeId) FROM Employee GROUP BY City')
cursor.fetchall()

[('Calgary', 5), ('Edmonton', 1), ('Lethbridge', 2)]

In [141]:
# 2) cuenta la cantidad de empleados que hay por departamento
cursor.execute('SELECT  Title, count(EmployeeId) FROM Employee GROUP BY Title')
cursor.fetchall()

[('General Manager', 1),
 ('IT Manager', 1),
 ('IT Staff', 2),
 ('Sales Manager', 1),
 ('Sales Support Agent', 3)]

In [142]:
# 3) muestra la edad de cada empleado
cursor.execute("SELECT FirstName, LastName, (strftime('%Y', 'now') - strftime('%Y', BirthDate)) - (strftime('%m-%d', 'now') < strftime('%m-%d', BirthDate)) AS Age FROM Employee")
cursor.fetchall()

[('Andrew', 'Adams', 61),
 ('Nancy', 'Edwards', 64),
 ('Jane', 'Peacock', 50),
 ('Margaret', 'Park', 76),
 ('Steve', 'Johnson', 58),
 ('Michael', 'Mitchell', 50),
 ('Robert', 'King', 53),
 ('Laura', 'Callahan', 55)]

In [143]:
# 4) calcula la media de edad por departamento (Title)

cursor.execute("SELECT Title, AVG((strftime('%Y', 'now') - strftime('%Y', BirthDate)) - (strftime('%m-%d', 'now') < strftime('%m-%d', BirthDate))) FROM Employee GROUP BY Title")
cursor.fetchall()

[('General Manager', 61.0),
 ('IT Manager', 50.0),
 ('IT Staff', 54.0),
 ('Sales Manager', 64.0),
 ('Sales Support Agent', 61.333333333333336)]

In [144]:
# 5) cuenta los empleados que fueron contratados, de media, por año
cursor.execute("SELECT strftime('%Y', HireDate), count(HireDate) FROM Employee GROUP BY strftime('%Y', HireDate)")
cursor.fetchall()

[('2002', 3), ('2003', 3), ('2004', 2)]

In [145]:
cursor.execute("SELECT AVG(numero) FROM (SELECT strftime('%Y', HireDate) AS anno, count(*) AS numero FROM Employee GROUP BY anno)")
cursor.fetchall()

[(2.6666666666666665,)]

# Actividad 4(Experto en canciones)
Volvemos a usar la tabla 'Track'

In [146]:
# 1) Muestra todos los canciones con el MediaType Protected AAC audiofile.
cursor.execute("SELECT Name FROM Track WHERE MediaTypeId = (SELECT MediaTypeId FROM MediaType WHERE Name = 'Protected AAC audio file')")
cursor.fetchmany(20)

[('Balls to the Wall',),
 ('Fast As a Shark',),
 ('Restless and Wild',),
 ('Princess of the Dawn',),
 ('Welcome to the Jungle',),
 ("It's So Easy",),
 ('Nightrain',),
 ('Out Ta Get Me',),
 ('Mr. Brownstone',),
 ('Paradise City',),
 ('My Michelle',),
 ('Think About You',),
 ("Sweet Child O' Mine",),
 ("You're Crazy",),
 ('Anything Goes',),
 ('Rocket Queen',),
 ('Right Next Door to Hell',),
 ("Dust N' Bones",),
 ('Live and Let Die',),
 ("Don't Cry (Original)",)]

In [147]:
# 2)muestra todas las canciones que contengan algun MediaType con 'AAC'.
cursor.execute("SELECT Name FROM Track WHERE MediaTypeId = (SELECT MediaTypeId FROM MediaType WHERE Name LIKE '%AAC%')");
cursor.fetchmany(20)

[('Balls to the Wall',),
 ('Fast As a Shark',),
 ('Restless and Wild',),
 ('Princess of the Dawn',),
 ('Welcome to the Jungle',),
 ("It's So Easy",),
 ('Nightrain',),
 ('Out Ta Get Me',),
 ('Mr. Brownstone',),
 ('Paradise City',),
 ('My Michelle',),
 ('Think About You',),
 ("Sweet Child O' Mine",),
 ("You're Crazy",),
 ('Anything Goes',),
 ('Rocket Queen',),
 ('Right Next Door to Hell',),
 ("Dust N' Bones",),
 ('Live and Let Die',),
 ("Don't Cry (Original)",)]

In [148]:
# 3) muestra todas las canciones que duren mas de 2 minutos

cursor.execute('SELECT Name FROM Track WHERE Milliseconds > 120000')
cursor.fetchmany(20)

[('For Those About To Rock (We Salute You)',),
 ('Balls to the Wall',),
 ('Fast As a Shark',),
 ('Restless and Wild',),
 ('Princess of the Dawn',),
 ('Put The Finger On You',),
 ("Let's Get It Up",),
 ('Inject The Venom',),
 ('Snowballed',),
 ('Evil Walks',),
 ('C.O.D.',),
 ('Breaking The Rules',),
 ('Night Of The Long Knives',),
 ('Spellbound',),
 ('Go Down',),
 ('Dog Eat Dog',),
 ('Let There Be Rock',),
 ('Bad Boy Boogie',),
 ('Problem Child',),
 ('Overdose',)]

In [149]:
# 4) muestra todas las canciones de Jazz
cursor.execute('SELECT Name FROM Track WHERE GenreId = (SELECT GenreId FROM Genre WHERE Name = "Jazz")')
cursor.fetchall()

[('Desafinado',),
 ('Garota De Ipanema',),
 ('Samba De Uma Nota Só (One Note Samba)',),
 ('Por Causa De Você',),
 ('Ligia',),
 ('Fotografia',),
 ('Dindi (Dindi)',),
 ('Se Todos Fossem Iguais A Você (Instrumental)',),
 ('Falando De Amor',),
 ('Angela',),
 ('Corcovado (Quiet Nights Of Quiet Stars)',),
 ('Outra Vez',),
 ('O Boto (Bôto)',),
 ('Canta, Canta Mais',),
 ('Quadrant',),
 ("Snoopy's search-Red baron",),
 ('Spanish moss-"A sound portrait"-Spanish moss',),
 ('Moon germs',),
 ('Stratus',),
 ('The pleasant pheasant',),
 ('Solo-Panhandler',),
 ('Do what cha wanna',),
 ('Heart of the Night',),
 ('De La Luz',),
 ('Westwood Moon',),
 ('Midnight',),
 ('Playtime',),
 ('Surrender',),
 ("Valentino's",),
 ('Believe',),
 ('As We Sleep',),
 ('When Evening Falls',),
 ('J Squared',),
 ('Best Thing',),
 ("Now's The Time",),
 ('Jeru',),
 ('Compulsion',),
 ('Tempus Fugit',),
 ("Walkin'",),
 ("'Round Midnight",),
 ('Bye Bye Blackbird',),
 ('New Rhumba',),
 ('Generique',),
 ('Summertime',),
 ('So What',),
 ('The Pan Piper',),
 ('Someday My Prince Will Come',),
 ('My Funny Valentine (Live)',),
 ('E.S.P.',),
 ('Nefertiti',),
 ('Petits Machins (Little Stuff)',),
 ('Miles Runs The Voodoo Down',),
 ('Little Church (Live)',),
 ('Black Satin',),
 ('Jean Pierre (Live)',),
 ('Time After Time',),
 ('Portia',),
 ('Jeepers Creepers',),
 ('Blue Rythm Fantasy',),
 ('Drum Boogie',),
 ('Let Me Off Uptown',),
 ('Leave Us Leap',),
 ('Opus No.1',),
 ('Boogie Blues',),
 ('How High The Moon',),
 ('Disc Jockey Jump',),
 ("Up An' Atom",),
 ('Bop Boogie',),
 ('Lemon Drop',),
 ('Coronation Drop',),
 ('Overtime',),
 ('Imagination',),
 ("Don't Take Your Love From Me",),
 ('Midget',),
 ("I'm Coming Virginia",),
 ("Payin' Them Dues Blues",),
 ('Jungle Drums',),
 ('Showcase',),
 ('Swedish Schnapps',),
 ('Roll Call',),
 ('Otay',),
 ('Groovus Interruptus',),
 ('Paris On Mine',),
 ('In Time',),
 ('Plan B',),
 ('Outbreak',),
 ('Baltimore, DC',),
 ('Talkin Loud and Saying Nothin',),
 ('Doce De Carnaval (Candy All)',),
 ('Lamento De Carnaval',),
 ('Pretinha',),
 ('Colibri',),
 ('Love Is The Colour',),
 ('Magnetic Ocean',),
 ('Deep Waters',),
 ("L'Arc En Ciel De Miles",),
 ('Gypsy',),
 ('Journey Into Sunlight',),
 ('Sunchild',),
 ('Millenium',),
 ("Thinking 'Bout Tomorrow",),
 ("Jacob's Ladder",),
 ('She Wears Black',),
 ('Dark Side Of The Cog',),
 ('Springsville',),
 ('The Maids Of Cadiz',),
 ('The Duke',),
 ('My Ship',),
 ('Miles Ahead',),
 ('Blues For Pablo',),
 ('New Rhumba',),
 ('The Meaning Of The Blues',),
 ('Lament',),
 ("I Don't Wanna Be Kissed (By Anyone But You)",),
 ('Springsville (Alternate Take)',),
 ('Blues For Pablo (Alternate Take)',),
 ('The Meaning Of The Blues/Lament (Alternate Take)',),
 ("I Don't Wanna Be Kissed (By Anyone But You) (Alternate Take)",),
 ('Morning Dance',),
 ('Jubilee',),
 ('Rasul',),
 ('Song For Lorraine',),
 ('Starburst',),
 ('Heliopolis',),
 ("It Doesn't Matter",),
 ('Little Linda',),
 ('End Of Romanticism',),
 ('Amanda',),
 ('Despertar',),
 ("OAM's Blues",)]

In [150]:
# 5) averigua cual es la cancion mas pesada
cursor.execute('SELECT TrackId, Name, MAX(Milliseconds) FROM Track')
cursor.fetchone()

(2820, 'Occupation / Precipice', 5286953)

In [151]:
# 6) CUANTOS DISCOS TIENE Led Zeppelin ?
cursor.execute("SELECT count(AlbumId) FROM (SELECT AlbumId FROM Track GROUP BY AlbumId HAVING albumId IN (SELECT AlbumId From Album WHERE ArtistId IN (SELECT ArtistId FROM Artist WHERE Name = 'Led Zeppelin')))")

cursor.fetchall()

[(14,)]

In [152]:
# 7) DE ENTRE SUS DISCOS, ¿CUANTO CUESTA EL DISCO "House Of The Holy"?
cursor.execute("SELECT sum(UnitPrice) as precio FROM Track WHERE AlbumId = (SELECT AlbumId FROM Album WHERE Title = 'Houses Of The Holy')")
cursor.fetchone()

(7.920000000000001,)

# Actividad 5
De la tabla 'Customer' crea una vista 'Customer_with_companies', donde estaran incluidos todos los resultdos salvo cuando Companies' sea 'NULL'.

In [153]:
cursor.execute('CREATE TEMP VIEW Customer_with_companies AS SELECT * FROM Customer WHERE Company IS NOT NULL')

A partir de la vista realiza los siguentes acciones:

In [154]:
# 1) Ordena los resultados por orden alfabetico de 'Company'
cursor.execute("SELECT * FROM Customer_with_companies ORDER BY Company ASC")
cursor.fetchall()

[(19,
  'Tim',
  'Goyer',
  'Apple Inc.',
  '1 Infinite Loop',
  'Cupertino',
  'CA',
  'USA',
  '95014',
  '+1 (408) 996-1010',
  '+1 (408) 996-1011',
  'tgoyer@apple.com',
  3),
 (11,
  'Alexandre',
  'Rocha',
  'Banco do Brasil S.A.',
  'Av. Paulista, 2022',
  'São Paulo',
  'SP',
  'Brazil',
  '01310-200',
  '+55 (11) 3055-3278',
  '+55 (11) 3055-8131',
  'alero@uol.com.br',
  5),
 (1,
  'Luís',
  'Gonçalves',
  'Embraer - Empresa Brasileira de Aeronáutica S.A.',
  'Av. Brigadeiro Faria Lima, 2170',
  'São José dos Campos',
  'SP',
  'Brazil',
  '12227-000',
  '+55 (12) 3923-5555',
  '+55 (12) 3923-5566',
  'luisg@embraer.com.br',
  3),
 (16,
  'Frank',
  'Harris',
  'Google Inc.',
  '1600 Amphitheatre Parkway',
  'Mountain View',
  'CA',
  'USA',
  '94043-1351',
  '+1 (650) 253-0000',
  '+1 (650) 253-0000',
  'fharris@google.com',
  4),
 (5,
  'František',
  'Wichterlová',
  'JetBrains s.r.o.',
  'Klanova 9/506',
  'Prague',
  None,
  'Czech Republic',
  '14700',
  '+420 2 4172 5555',
  '+420 2 4172 5555',
  'frantisekw@jetbrains.com',
  4),
 (17,
  'Jack',
  'Smith',
  'Microsoft Corporation',
  '1 Microsoft Way',
  'Redmond',
  'WA',
  'USA',
  '98052-8300',
  '+1 (425) 882-8080',
  '+1 (425) 882-8081',
  'jacksmith@microsoft.com',
  5),
 (12,
  'Roberto',
  'Almeida',
  'Riotur',
  'Praça Pio X, 119',
  'Rio de Janeiro',
  'RJ',
  'Brazil',
  '20040-020',
  '+55 (21) 2271-7000',
  '+55 (21) 2271-7070',
  'roberto.almeida@riotur.gov.br',
  3),
 (15,
  'Jennifer',
  'Peterson',
  'Rogers Canada',
  '700 W Pender Street',
  'Vancouver',
  'BC',
  'Canada',
  'V6C 1G8',
  '+1 (604) 688-2255',
  '+1 (604) 688-8756',
  'jenniferp@rogers.ca',
  3),
 (14,
  'Mark',
  'Philips',
  'Telus',
  '8210 111 ST NW',
  'Edmonton',
  'AB',
  'Canada',
  'T6G 2C7',
  '+1 (780) 434-4554',
  '+1 (780) 434-5565',
  'mphilips12@shaw.ca',
  5),
 (10,
  'Eduardo',
  'Martins',
  'Woodstock Discos',
  'Rua Dr. Falcão Filho, 155',
  'São Paulo',
  'SP',
  'Brazil',
  '01007-010',
  '+55 (11) 3033-5446',
  '+55 (11) 3033-4564',
  'eduardo@woodstock.com.br',
  4)]

In [155]:
# 2) Muestra que compania son de 'Brasil'
cursor.execute("SELECT * FROM Customer_with_companies WHERE Country LIKE '%Bra%il%' COLLATE NOCASE")
res = cursor.fetchall()

# Actividad 6 (Dame la factura)

De la tabla *Track* consigue la siguente informacion

In [156]:
# 1) Cual es el titulo de la cancion que menos pesa(Bytes) ?
cursor.execute("")

In [157]:
# 2) Cual es el titulo de cancion que mas dura (Miliseconds).

In [158]:
# 3) Cuantas canciones cuesta 1$ o mas.

In [159]:
# 4) Cuantas canciones hay de Queen.

In [ ]:
# 5) Cual es la media de duarcion entre todas las canciones.

In [ ]:
# 6) Cual es la media de duracion entre todas las canciones de U2.

In [ ]:
# 7) Cuantas cancioens esta Bill Berry como 'Composer'(Compositor).

In [ ]:
# 8) Un Mb son: Bite/1024/1024. Muestra todos los 'Tracks' calculando y renombrando la columna 'Bytes' en 'Mb'.

# Actividad 7 (Buscando facturas)

De la tabla *Invoice* consigue la siguente informacion:

In [ ]:
# 1) Muestra: 'InvoiceId', nombre del cliente, 'BillingCountry'.

In [ ]:
# 2) Ordena de mayor a menor por 'Total'

In [ ]:
# 3) Cual es el pais que mas a facturado.

# Actividad 8 (Alimentando la productora)

In [ ]:
# 1) Añade 5 artistas que te gusten en la tabla 'Artist'.

In [ ]:
# 2) Introduce el MediaType Wav

In [ ]:
# 3) Crea 2 discos que esten relacionados con los artistas que has creado.º

# Actividad 9 (Artistas desaparecidos)

Volver a usar la tabla *Artist* (cantante). (usa *PRAGMA foreign key = OFF* para desactivar la comprobacion)

In [ ]:
# 1) Borra a U2

In [ ]:
# 2) Borra los artistas que tengan en su nombre el simbolo *&*.

In [ ]:
# 3) Borra los artistas con una ID entre 201 y 230.

In [ ]:
# 4) Borra toda la tabla de *Track*.

# Actividad 10 (Se acabaron las rebajas)

Volvemos a usar la tabla *Track* (cancion).

In [ ]:
# 1) Sube el precio de todas las canciones de 0.99 a 2.99

In [ ]:
# 2) sube el precio de todas las canciones de 1.99 a 4.99.

In [ ]:
# 3) cambia el compositor (Composer) por 'Sara' del 'TrackId' numero 2000.

In [ ]:
# 4) cambia el compositor(Composer) por 'clasico' de todas las canciones que empiecen con el nombre 'Concerto'.